html
  head
    script(type='text/javascript').
      function checkProxySettings() {
      }
  body
    .container(id="app")
      .row
        .col-md-10.col-md-offset-1
          .content
            router-view