<template lang="pug">

html
  head
    script(type='text/javascript').
      function checkProxySettings() {
      }
  body
    .container(id="app")
      .row
        .div
        <p>I am hererer</p>
        .col-xs-12
          .content
            router-view
</template>
