{
  "comments": false,
  "env": {
    "testing-unit": {
      "presets": ["latest", "stage-0"],
      "plugins": ["istanbul"]
    },
    "console": {
      "presets": ["latest", "stage-0"]
    },
    "electron-main": {
      "presets": ["latest", "stage-0"]
    },
    "electron-renderer": {
      "presets": [
        ["latest", { "modules": false }],
        "stage-0"
      ]
    },
    "web": {
      "presets": ["latest", "stage-0"]
    }
  }
}
