{
  "comments": false,
  "env": {
    "testing-unit": {
      "presets": ["latest", "stage-0"],
      "plugins": ["istanbul"]
    },
    "console": {
      "presets": [
        ["es2015", {
          "targets": { "node": 6 },
          "useBuiltIns": true
        }]
      ]
    },
    "electron-main": {
      "presets": ["latest", "stage-0"]
    },
    "electron-renderer": {
      "presets": [
        ["latest", { "modules": false }],
        "stage-0"
      ]
    },
    "web": {
      "presets": [
        ["es2015"]
      ]
    }
  }
}
