I.sentry.json
.release.json


.DS_Store
app/dist
app/build
app/dist/index.html
app/dist/main.js
app/dist/renderer.js
app/dist/styles.css
builds/*
build/
coverage
node_modules/
app/node_modules/
npm-debug.log
npm-debug.log.*
thumbs.db
!.gitkeep
.vscode
.idea

yarn.lock
package-lock.json

db.json
