$color_main: white;
$color_back: #f0f0f4;

$font_menu: 'Alegreya Sans SC', sans-serif;
$font_title: "Neuropol";

$application_height: 350px;
$application_width: 480px;
$application_border_radius: 0px;

$header_height: 60px;
$footer_height: 45px;
$content_height: $application_height - $header_height - $footer_height;