appId: "co.yaler.client"
productName: MassBrowser-FirefoxBundle
directories:
  output: build/clientFirefox
files:
  - "node_modules/"
  - "dist/"
  - "package.json"
publish:
  provider: github
  repo: MassBrowser
  owner: SPIN-UMass
  protocol: https
dmg:
  contents:
    - x: 410
      y: 150
      type: link
      path: "/Applications"
    - x: 130
      y: 150
      type: file
mac:
  icon: "app/assets/icons/client/icon.icns"
win:
  icon: "app/assets/icons/client/icon.ico"
  extraFiles: ["browser",{
    "from":  "app/assets/tor/tor-MB-windows-x86_64/",
    "to": ".",
    "filter": ["**/*"]
  },{
    "from":  "app/assets/ext/massbrowser_manager-current.xpi",
    "to": ".",
    "filter": ["**/*"]
  },{ "from":  "app/assets/icons",
    "to": ".",
    "filter": ["**/*"]
  }]
linux:
  icon: "app/assets/icons/client"