appId: "co.yaler.relay"
productName: MassBuddy
directories:
  output: build/relay
files:
  - "node_modules/"
  - "dist/"
  - "package.json"
publish:
  provider: github
  repo: MassBrowser
  owner: SPIN-UMass
  protocol: https
dmg:
  contents:
    - x: 410
      y: 150
      type: link
      path: "/Applications"
    - x: 130
      y: 150
      type: file
mac: 
  icon: "app/assets/icons/relay/icon.icns"
  target: 
    - target: default
  extraFiles: [
  { "from":  "app/assets/icons/",
    "to": "./Resources/icons",
    "filter": ["**/*"]
  }]
win:
  icon: "app/assets/icons/relay/icon.ico"
  target: 
    - target: nsis
      arch:
         - x64
  extraFiles: [
    { "from":  "app/assets/icons/",
    "to": "./icons",
    "filter": ["**/*"]
  }
  ]
linux:
  icon: "app/assets/icons/relay"
  
